html {
  padding: 0;
  margin: 0;
  background: #fff0f8;
  font-family: 'Noto Serif', serif;
}

html p{
  text-align: justify;
}

.main__info{
  padding: 0;
  margin: 0;
}

.main__info  h1{
  font-size: 25px;
}

.main__info p{
  font-size: 16px;
}


.main__left {
  margin-top: 0;
  width: 50%;
  height: auto;
  overflow: auto;
  float: left;
}

.main__right {
  width: 50%;
  height: auto;
  overflow: auto;
}

/* .logo{
  margin-left: 150px;

} */
.main__left h4 {
  font-size: 25px;
  /* font-style: italic; */
}

